.sub-section-content-text {
    padding-bottom: 50px;
    h3 {
        color: var(--title-color);
        font-size: 26px;
        padding-bottom: 20px;
    }
    p.content {
        line-height: 1.8em;
    }
}